.cabecalho{
    align-items: center;
    background-color: var(--cabeçalho-mobile);
    box-shadow: var(--sombras);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.cabecalho__menu i::before{
    content: var(--menu);
    font-size: 24px;
}
.cabecalho__notificacao i::before{
    content: var(--notificação);
    font-size: 24px;
    color: var(--fonte);
}
.cabecalho__logo{
    width: 40px;
}
.cabecalho__perfil{
        display: none;
    }
@media screen and (min-width: 1440px) {
    .cabecalho{
        background-color: var(--cabeçalho);
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto; 
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }
    .cabecalho__menu{
        display: none;
    }
    .cabecalho__logo{
        display: none;
    }
    .cabecalho__perfil{
        display: grid;
        grid-template-columns: repeat(3, auto);
        color: var(--fonte);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        padding: 8px 32px;
        border-right: 1px solid var(--fonte);
    }
    .cabecalho__perfil::before{
        content: "";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .cabecalho__perfil::after{
        content: var(--seta-baixo);
    }
}